$mainblue: #006ce5;
$mainred: #ff4a4a;
$maingray: #474747;
$darkgray: #555555;
$lightgray: #777777;
$coldgray: #edf6fe;

// standart page style

.standart-page-title {
  height: auto;
  margin-top: 30px;
  padding: 10px 45px 40px 45px;
  background: #006ce5 url(../images/pattern.png);
  color: #fff; }
  .standart-page-title h1 {
    width: 50%;
    font-size: 48px;
    text-transform: uppercase; }

.unnamed {
  padding: 25px;
  margin-top: 30px;
  background: #006ce5;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }
  .unnamed a {
    text-decoration: underline;
    color: #ffffff; }

.unnamed-two {
  margin-bottom: 25px;
  width: 1170px; }

.standart-page-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 405px;
  margin-top: 25px;
  background: #fff;
  font-size: 16px; }
  .standart-page-item li {
    margin-left: 20px; }

.standart-page-item-left,
.standart-page-item-right {
  position: relative;
  -webkit-flex: 1 auto;
  flex: 1 auto; }

.standart-page-item-left {
  width: 570px;
  overflow: hidden;
  height: inherit; }

.standart-page-item-left img {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0; }

.standart-page-item-title,
.standart-page-item-title-red {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  color: #fff;
  text-align: center; }
  .standart-page-item-title h1,
  .standart-page-item-title-red h1 {
    font-size: 28px;
    text-transform: uppercase; }

.standart-page-item-title {
  background: #006ce5; }

.standart-page-item-title-red {
  background: #ff4a4a; }

.standart-page-item-right {
  width: 600px;
  padding: 30px 40px; }
  .standart-page-item-right h3 {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.2em; }
  .standart-page-item-right p {
    line-height: 1.5em; }

.standart-page-item-overlay,
.news-page-item-overlay {
  display: none; }

.news-page-item:hover .news-page-item-overlay {
  display: block;
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: rgba(0, 102, 204, 0.5);
  text-align: center; }

.news-page-reg-button {
  display: inline-block;
  position: relative;
  margin-top: 34%;
  width: 170px;
  padding-top: 5px;
  height: 55px;
  line-height: 1.3em;
  border: 2px solid white;
  border-radius: 45px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer; }
  .news-page-reg-button a {
    color: #fff; }

.news-page-reg-button:hover {
  background: #fff;
  color: #006ce5; }
  .news-page-reg-button:hover a {
    color: #006ce5; }

.standart-page-item:hover .standart-page-item-overlay {
  display: block;
  position: relative;
  z-index: 3;
  height: 355px;
  background-color: rgba(0, 102, 204, 0.5);
  text-align: center; }

.standart-page-reg-button {
  display: inline-block;
  position: relative;
  top: 40%;
  width: 240px;
  height: 50px;
  line-height: 48px;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer; }

.standart-page-reg-button:hover {
  background: #fff;
  color: #006ce5; }

.standart-page-content {
  background: #fff;
  padding: 45px 45px 65px 45px; }
  .standart-page-content p {
    line-height: 1.3em;
    font-size: 16px; }

.standart-page-content h1 {
  font: normal 30px 'Open Sans';
  color: #ff4a4a;
  margin-bottom: 15px; }

.standart-page-content ul {
  margin-left: 20px; }
  .standart-page-content ul li {
    margin-bottom: 10px;
    font-size: 16px; }

.contact-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 30px;
  padding: 40px;
  background: #fff;
  font-size: 26px; }
  .contact-page h3 {
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #006ce5; }

.contact-page-left {
  width: 430px; }
  .contact-page-left img {
    float: left;
    margin-right: 25px; }

.c-p-item {
  margin-bottom: 30px;
  border: 1px solid white; }
  .c-p-item p {
    margin-top: 6px; }

.c-p-item:after {
  content: '';
  display: table;
  clear: both; }

.contact-page-right {
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto; }

.vk-link {
  display: inline-block;
  height: 43px;
  width: 43px;
  background: url(../images/011.png); }

.insta-link {
  display: inline-block;
  margin-left: 20px;
  height: 43px;
  width: 43px;
  background: url(../images/012.png); }

.vk-link:hover, .insta-link:hover {
  background-position: bottom; }

.contact-page-form {
  font-size: 18px; }

.contact-page-form input {
  display: block;
  width: calc(100% - 45px);
  height: 45px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: 2px solid #cdcdcd;
  padding-left: 45px;
  outline: none; }

.contact-page-form input[type="textarea"] {
  resize: none;
  height: 130px; }

.contact-page-form input[type="textarea"]:focus {
  overflow: scroll; }

.contact-page-form input[type="submit"] {
  float: right;
  width: 250px;
  padding: 0;
  background: #006ce5;
  color: #fff;
  border: none; }

.contact-page-form input[type="submit"]:hover {
  background: #0057be; }

.location-first-col {
  float: right;
  margin-bottom: 30px; }

.location-second-col {
  margin-bottom: 30px; }

.location {
  width: 460px;
  height: 200px;
  padding: 55px;
  background: #fff; }
  .location h1 {
    color: #006ce5; }
  .location h2 {
    font: bold 20px 'Open Sans';
    margin: 10px 0; }

.location :first-child {
  padding: -100px; }

.trustee {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-top: 30px; }

.trustee-img-holder {
  width: 270px;
  height: 363px;
  margin-right: 30px; }
  .trustee-img-holder h1 {
    display: inline-block;
    margin-top: -4px;
    background: #006ce5;
    height: 45px;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase; }

.trustee-info,
.coach-info {
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
  padding: 40px 70px 35px;
  background: #fff; }
  .trustee-info h1,
  .coach-info h1 {
    font: normal 30px 'Open Sans';
    line-height: 1.3em; }
  .trustee-info p,
  .coach-info p {
    margin-bottom: 15px;
    color: #777777;
    line-height: 1.6em; }

.trustee-info {
  font-size: 20px; }

.coach-info {
  font-size: 16px; }

.ac-container label {
  margin-top: 25px;
  padding: 5px 15px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #555555;
  /*цвет заголовка*/
  line-height: 33px;
  font-size: 18px;
  background: #e8edf2;
  /*цвет полоски в покое*/ }

.ac-container label:hover {
  color: #006ce5;
  background: #e8edf2;
  /*цвет полоски при наведении*/ }

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #0057be;
  /*цвет полоски раскрытого*/
  color: #ffffff;
  /*цвет заголовка*/
  margin-bottom: 20px; }

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center; }

.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png); }

.ac-container input {
  display: none; }

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10; }

.ac-container input:checked ~ article.ac-small {
  height: 70px; }
  
.ac-container input:checked ~ article.ac-smal {
  height: 110px; }

.ac-container input:checked ~ article.ac-medium {
  height: 180px; }

.ac-container input:checked ~ article.ac-large {
  height: 230px; }

.ac-container input:checked ~ article.ac-very {
  height: 350px; }
  
.ac-container input:checked ~ article.ac-mega {
  height: 420px; }

.coach {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-top: 30px; }

.coach-img-holder {
  width: 270px;
  margin-right: 30px; }
  .coach-img-holder h1 {
    display: inline-block;
    width: 200px;
    margin-top: 5px;
    background: #006ce5;
    padding: 10px 35px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3em; }
  .coach-img-holder img {
    border-radius: 50%;
    width: 270px; }

.documents-img-container {
  position: relative;
  margin-bottom: 30px;
  padding: 40px 0 40px 40px;
  background: #fff; }

.documents-img-container img:not(:last-child) {
  margin-right: 40px; }

.documents-text {
  height: 130px;
  padding: 40px;
  background: #fff;
  font-size: 20px;
  line-height: 1.3em; }
  .documents-text h1 {
    font: normal 30px 'Open Sans';
    margin-bottom: 10px; }

.smallsizeimg {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  height: 470px;
  left: -20px;
  position: relative; }

.check:checked + img {
  height: 1000px; }

.news-page-item {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  margin-top: 30px;
  background: #fff; }

.news-icon-holder {
  flex-shrink: 0;
  width: 65px;
  text-align: center;
  background: #006ce5; }
  .news-icon-holder img {
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -25px; }

.news-data-holder {
  color: #ffffff;
  font: bold 11px 'Open Sans';
  margin-top: 15px;
  text-transform: uppercase;
  padding: 0 10px; }

.news-image-holder {
  flex-shrink: 0;
  position: relative;
  width: 210px;
  overflow: hidden;
  height: inherit; }

.news-image-holder img {
  position: absolute;
  top: 0;
  height: 100%; }

.news-content {
  padding: 30px 35px;
  line-height: 1.5em; }
  .news-content h1 {
    font: normal 26px 'Open Sans';
    margin-bottom: 15px;
    line-height: 1em; }
  .news-content span {
    font-size: 16px;
    color: #006ce5; }
  .news-content ul {
    padding-left: 17px; }

.news-banner {
  margin-top: 25px;
  padding: 18px;
  background-color: #fff; }

.course-about {
  padding: 15px; }
  .course-about p {
    margin: 15px 15px 0 0px; }
  .course-about h2 {
    margin: 15px 15px 0 0px;
    font: normal 30px 'Open Sans';
    line-height: 1.2em; }

.sections-course {
  background-color: #ff;
  padding: 30px 40px; }
  .sections-course h3 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.2em; }
  .sections-course p {
    line-height: 1.5em; }

.about-img {
  margin-top: 25px; }

.scedule-page table {
  width: 100%;
  background: #fff;
  border: 1px solid #004a80;
  text-align: center; }
  .scedule-page table th {
    width: 14%;
    border: 1px solid #004a80;
    padding: 15px;
    font-weight: normal; }

.scedule-page td {
  width: 14%;
  border: 1px solid #004a80;
  padding: 10px; }

.scedule-page span {
  font-size: 16px;
  font-weight: bold; }

.scedule-tags {
  border: 1px solid #004a80;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  height: 47px;
  margin-top: 30px; }

.scedule-tag {
  width: 33.3%;
  text-align: center;
  padding-top: 14px; }
  
// будни 
.blue {
  background: #018dfa;
  color: #fff; }
// выходной
.red {
  background: #ff4a4a;
  color: #fff; }
// № группы
.dark-blue {
  background: #004a80;
  color: #fff; }
// хореография
.green-hore {
  background: #b3ffcc; }
// Группа начальной подготовки (ГНП ) 2 год обучения	
.green {
  background: #ffeaf2; }
// Группа спортивного совершенствования (ГСС)	
.wave {
  background: #b3ecff; }
.del{
  white-space: pre; }
// Группа начальной подготовки (ГНП ) 1 год обучения	
.purple {
  background: #e6e6ff; }
// Учебно тренировочная группа (УТГ ) 	
.yelow {
  background: #ffffe6; }
// Индивидуальные занятия	
.blue-two {
  background: #dffffe; }

.gallery-album {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-top: 30px; }

.gallery-img-holder {
  margin-right: 30px;
  background: #fff;
  text-align: center; }
  .gallery-img-holder img {
    width: 270px; }
  .gallery-img-holder h1 {
    padding: 15px;
    font: normal 18px 'Open Sans';
    color: #555555; }
  .gallery-img-holder h2 {
    font: normal 14px 'Open Sans';
    color: #555555;
    padding-bottom: 15px; }

.button-back {
  display: block;
  position: relative;
  bottom: 0;
  right: 0;
  line-height: 45px;
  padding: 0 35px;
  background: #006ce5;
  color: #fff;
  text-align: center; }

.button-back:hover {
  background: #0057be; }

.album_none {
  background: #edf6fe;
  width: 690px; }
