---
title: О НАС
---

<div class="container">
    <div class="about-img">
            <%= image_tag "about-girl.jpg" %>
        </div>
    <div class="standart-page-item">
        
        <div class="course-about">
            <div class="sections-course">
                <h3>Наш Клуб создан профессионалами и фанатами своего дела.</h3>
                <p>Главная составляющая успеха в спорте? Бесспорно, является слаженная работа 3х звеньев одной цепи, а именно:</p>
                <p>Тренер – ребенок – родитель.</p>
                <div class="hor-line"></div>
                <p>За плечами каждого тренера не только спортивная жизнь, сборы под руководством великих Мастеров, но и Спортивный ВУЗ, где были получены знания в области анатомии, физиологии, возрастной периодизации, психологии, а также многолетний опыт работы. Мы гарантируем индивидуальный подход к каждому ребенку, творческие задания и нестандартные тренировки.</p>
                <p>Если ты:</p>
                <ul>
                    <li>хочешь участвовать в соревнованиях и побеждать;</li>
                    <li>готов трудиться и совершенствоваться;</li>
                    <li>не боишься трудностей;</li>
                    <li>хочешь попасть в команду единомышленников </li>
                </ul>
                <p>ЖДЕМ тебя в стенах нашего Клуба.</p>    
                <p>Мы знаем вкус победы и готовы поделиться всеми знаниями и умениями для достижения цели! Мы готовы и хотим трудиться!</p>
                <p>Нас ждут GRANDиозные вершины!</p>
            </div>
        </div>
    </div>
</div>