---
title: расписание
---

<div class="container">
    
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>расписание</h1>
    </div>
    <div class="scedule-page about-img">
        <table>
            <tr>
                <th class="wave">Группа спортивного совершенствования <span>(ГСС)</span>	</th>
                <th class="yelow ">Учебно тренировочная группа <span>(УТГ )</span> 	</th>
                <th class="purple">Группа начальной подготовки <span>(ГНП ) </br>1 год обучения</span>	</th>
                <th class="green">Группа начальной подготовки <span>(ГНП ) </br>2 год обучения</span>	</th>
                <th class="blue-two"><span>Индивидуальные занятия</span>	</th>
            </tr>
        </table>
    </div>
    <div class="unnamed">
        <h1>Район "КОЖУХОВО"</h1>
    </div>
    <div class="scedule-page">
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
                <th colspan="2"  class="red">Воскресение</th>
            </tr>
<!--sced--> 
            <tr>
                <td rowspan="2" class="wave"> 
                    <p><span>*ГСС</span></br> ст.тренер Круглова Я.И., тренер-постановщик Винокурова М.С.</p>
                </td>
                
                <td rowspan="2">                                                   
                </td>
                <td class="green-hore">
                    <p><span>15:30-16:30 </span></br> хореография</p>                          
                </td>
                <td rowspan="2" class="wave">                       
                    <p><span>17:00-21:00</span> (Зал №5)</p>
                </td>
                <td class="green-hore">                                              
                    <p><span>15:30-16:30</span> хореография </p>
                </td>
                <td rowspan="2" class="wave">                        
                    <p><span>17:00-21:00</span></br>(Зал №5)</p>
                </td class="wave">
                <td rowspan="2" class="wave">           
                    <p><span>10:00-14:00</span></br>(Зал №5)</p> 
                </td>
                <td rowspan="10" class="blue-two">
                    <p><span>13:00-16:00</span> Индивидуальные занятия ГСС, УТГ, ГНП (Зал №3)</p>
                </td>
                <td rowspan="2"  class="wave del">  
                    <p><span> 16:00-19:00 </span></br> (Зал №3)</p> 
                </td>
            </tr>
            <tr>
                <td class=wave>
                    <p><span>16:30-21:00</span></br> (Зал №3)</p>
                </td>
                <td class="wave">
                    <p><span>16:30-21:00</span></br> (Зал №3)</p>
                </td>
            </tr>
<!--sced--> 
            <tr>
                <td rowspan="2" class="yelow">  
                    <p><span>УТГ №1 </br></span>(6-10 лет)</br> ст.тренер</br> Круглова Я.И., тренер-постановщик Винокурова М.С.</p>
                </td>
                 <td rowspan="2">                                                                                                                                                  
                </td>
                <td class="green-hore">
                    <p><span>15:30-16:30 </span></br> хореография</p>                          
                </td>
                <td rowspan="2" class="yelow">                                           
                    <p><span>17:00-21:00 </span>(Зал №5)</p>
                </td>
                <td class="green-hore">                                  
                    <p><span>15:30-16:30</span> хореография</p>
                </td>
                <td rowspan="2" class="yelow">                        
                    <p><span>17:00-21:00</span></br>(Зал №5)</p>
                </td>
                <td rowspan="2" class="yelow ">           
                    <p><span>10:00-14:00</span></br>(Зал №5)</p> 
                </td>
                <td rowspan="2">  
                </td>
            </tr>
            <tr>
                <td class=yelow >
                    <p><span>16:30-20:00</span></br> (Зал №3)</p>
                </td>
                <td class="yelow ">
                    <p><span>16:30-20:00</span></br> (Зал №3)</p>
                </td>
            </tr>
<!--sced--> 
            <tr>
                <td class="yelow">             
                    <p><span>УТГ №2 </br></span>(4-6 лет)</br> ст.тренер</br> Круглова Я.И., тренер-постановщик Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="yelow">
                    <p><span>17:00-19:00 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>
                <td class="yelow">                                           
                    <p><span>17:00-19:00 </span> </br>(Зал №3)</p>
                </td>
                <td></td>
                <td></td>
                <td class="yelow">                        
                    <p><span>16:00-18:00</span></br> (Зал №3)</p>
                </td>

            </tr>
<!--sced-->   
            <tr>
                <td class="green">                               
                    <p><span>ГНП № 1 </br> </span>(2 год обучения)</br> ст.тренер</br> Круглова Я.И., тренер-постановщик Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>17:00-18:30 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>
                <td class="green">                                     
                    <p><span>17:00-18:30 </span> </br>(Зал №3)</p>
                </td>
                <td></td>
                <td></td>
                <td class="green">               
                    <p><span>16:00-17:30</span></br> (Зал №3)</p>
                </td>

            </tr>
<!--sced-->   
            <tr>
                <td class="purple">                               
                    <p><span>ГНП № 2 </br> </span>(1 год обучения)</br> ст.тренер</br> Круглова Я.И., тренер-постановщик Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>19:00-20:00 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>              
                <td class="purple">                                     
                    <p><span>19:00-20:00 </span> </br>(Зал №3)</p>
                </td>
                <td></td>
                <td class="purple">        
                    <p><span>12:00-13:00</span></br> (Зал №3)</p>
                </td>
                <td></td>
            </tr>
<!--sced-->   
            <tr>
                <td class="green">                                                     
                    <p><span>ГНП № 3 </br> </span>(2 год обучения)</br> тренер</br> Васильева Е.С.</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:00 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>              
                <td class="green">                                     
                    <p><span>18:00-19:00 </span> </br>(Зал №3)</p>
                </td>
                <td></td>
                <td class="green">        
                    <p><span>10:00-12:00</span></br> (Зал №3)</p>
                </td>
                <td></td>
            </tr>
<!--sced-->   
            <tr>
                <td class="purple">                               
                    <p><span>ГНП № 4 </br> </span>(1 год обучения)</br> ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>13:30-14:30 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>              
                <td class="purple">                                     
                    <p><span>13:30-14:30 </span> </br>(Зал №3)</p>
                </td>
                <td class="purple">        
                    <p><span>15:30-16:30</span></br> (Зал №3)</p>
                </td>
                <td></td>
                <td></td>
            </tr>
<!--sced-->   
            <tr>
                <td class="green">                               
                    <p><span>ГНП № 5 </br> </span>(2 год обучения)</br> ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>14:30-15:30 </span></br> (Зал №3)</p>                          
                </td>
                <td></td>              
                <td class="green">                                     
                    <p><span>14:30-15:30 </span> </br>(Зал №3)</p>
                </td>
                <td class="green">        
                    <p><span>16:30-17:30</span></br> (Зал №3)</p>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
<!--2--> 
    <div class="unnamed">
        <h1>Район "КОСИНО"</h1>
    </div>
    <div class="scedule-page">
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
                <th colspan="2"  class="red">Воскресение</th>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">                                 
                    <p><span>ГНП № 6 </br> </span>(1 год обучения)</br>тренер-постановщик</br> Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>16:00-17:00 </span></br> (Зал №2)</p>                          
                </td>
                <td></td>              
                <td class="purple">                                     
                    <p><span>16:00-17:00 </span> </br>(Зал №2)</p>
                </td>
                <td class="purple">        
                    <p><span>16:00-17:00</span></br> (Зал №2)</p>
                </td>
                <td></td>
                <td rowspan="3" class="blue-two">
                    <p><span>13:00-16:00</span> Индивидуальные занятия (Зал №3)</p>
                </td>
            </tr>
<!--sced-->  
            <tr>
                <td rowspan="2" class="green"> 
                    <p><span>ГНП № 7 </br> </span>(2 год обучения)</br>тренер-постановщик</br> Винокурова М.С.</p>
                </td>
                <td rowspan="2"></td>
                
                <td class="green">
                    <p><span>17:00-18:30</span></br>(Зал №2)</p>
                </td>
                <td rowspan="2"></td>
                <td class="green">
                    <p><span>17:30-18:30</span></br>(Зал №2)</p>
                </td>
                <td rowspan="2" class="green">
                    <p><span>17:00-18:80</span></br>(Зал №2)</p>
                </td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class=green>
                    <p><span>18:30-19:30</span></br> (Зал №2)</p>
                </td>
                <td class="green">
                    <p><span>18:30-19:30</span></br> (Зал №2)</p>
                </td>
            </tr>
<!--sced-->  
        </table>
    </div>
<!--3--> 
    <div class="unnamed">
        <h1>Район "ИВАНОВСКОЕ"</h1>
    </div>
    <div class="scedule-page">
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
                <th colspan="2"  class="red">Воскресение</th>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">   
                    <p><span>ГНП № 1 </br> </span>(1 год обучения</br> 3-7 лет)</br>тренер</br> Аверина П.А.</p>
                </td>
                <td class="purple">
                    <p><span>18:00-19:00 </span></br> (Зал №4)</p>                          
                </td>
                <td></td>
                <td class="purple">                                     
                    <p><span>18:00-19:00 </span> </br>(Зал №4)</p>
                </td>
                <td></td>
                <td></td>
                <td class="purple">        
                    <p><span>10:00-11:00</span></br> (Зал №4)</p>
                </td>
                <td rowspan="3" class="blue-two">
                    <p><span>13:00-16:00</span> Индивидуальные занятия (Зал №3)</p>
                </td>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">   
                    <p><span>ГНП № 1 </br> </span>(1 год обучения</br> 3-6 лет)</br>тренер</br> Аверина П.А.</p>
                </td>
                <td class="purple">
                    <p><span>19:00-20:00 </span></br> (Зал №4)</p>                          
                </td>
                <td></td>
                <td class="purple">                                     
                    <p><span>19:00-20:00 </span> </br>(Зал №4)</p>
                </td>
                <td></td>
                <td></td>
                <td class="purple">        
                    <p><span>11:00-12:00</span></br> (Зал №4)</p>
                </td>
            </tr>
<!--sced-->  
        </table>
    </div>
<!--4--> 
    <div class="unnamed">
        <h1>Район "НОВОКОСИНО"</h1>
    </div>
    <div class="scedule-page">
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
                <th colspan="2"  class="red">Воскресение</th>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">   
                    <p><span>ГНП № 1 </br> </span>(1 год обучения </br> 3-5 лет)</br>тренер</br> Аверина П.А.</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>18:30-19:30 </span></br> (Зал №6)</p>                          
                </td>
                <td></td>
                <td class="purple">                                     
                    <p><span>18:30-19:30 </span> </br>(Зал №6)</p>
                </td>
                <td></td>
                <td class="purple">        
                    <p><span>14:00-15:00</span></br> (Зал №6)</p>
                </td>
                <td rowspan="3" class="blue-two">
                    <p><span>13:00-16:00</span> Индивидуальные занятия (Зал №3)</p>
                </td>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">   
                    <p><span>ГНП № 2 </br> </span>(1 год обучения </br> 4-7 лет)</br>тренер</br> Аверина П.А.</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>19:30-20:30 </span></br> (Зал №6)</p>                          
                </td>
                <td></td>
                <td class="purple">                                     
                    <p><span>19:30-20:30 </span> </br>(Зал №6)</p>
                </td>
                <td></td>
                <td class="purple">        
                    <p><span>15:00-16:00</span></br> (Зал №6)</p>
                </td>
            </tr>
<!--sced-->  
            <tr>
                <td class="purple">   
                    <p><span>ГНП № 3 </br></span>(1 год обучения </br>6-7 лет)</br>ст.тренер </br> Круглова Я.И.</p>
                </td>
                <td></td>
                <td></td>
                <td class="purple">
                    <p><span>18:30-19:30 </span></br> (Зал №6)</p>                          
                </td>
                <td></td>
                <td class="purple">                                     
                    <p><span>18:30-19:30 </span> </br>(Зал №6)</p>
                </td>
                <td class="purple">        
                    <p><span>10:00-11:00</span></br> (Зал №6)</p>
                </td>
            </tr>
<!--sced-->  
        </table>
    </div>
    


    <div class="unnamed">
            <h1>Подробнее о залах</h1>
        </div>
    <div class="index-about">
        <div class="index-about-left">
            <p><span>Зал №1:</span> ГБУ ЦПСИД «Косино-Ухтомский» (СРЦН ВАО г.Москвы)</p>
            <p>Адрес: г. Москва, ул. Муромская, д.1, стр.1 Метро: Выхино, Лермонтовский пр-кт, Новокосино</p>
            <p><span>Зал №2:</span> ФОК "Атлант Косино".</p>
            <p>Адрес: г. Москва, ул. Большая Косинская, 5а. Метро: Выхино, Лермонтовский пр-кт, Новокосино</p>
            <p><span>Зал №3:</span> ФОК "ГЕЛИОС". </p>
            <p>Адрес: г. Москва, ул. Лухмановская, д.10а. Метро: Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="index-about-right">
            <p><span>Зал №4:</span> ГБУ "Школа №633". </p>
            <p>Адрес: г. Москва, Федеративный проспект, д. 37А. Метро: Новогиреево</p>
            <p><span>Зал №5:</span> ГБУ "Школа №1591" школьное отделение №3.</p>
            <p> Адрес: г. Москва, ул.Новокосинская, д.42а. Метро: Новокосино</p>
            <p><span>Зал №6:</span> "ГБУ Школа № 2128"</p>
            <p> Адрес: г. Москва, ул. Суздальская, д.12. Метро: Новокосино</p>
            <a href="contacts.html" class="index-about-button">Посмотреть на карте &#187</a>
        </div>
    </div>

</div>